[submodule "frontend"]
	path = frontend
	url = https://github.com/DokiDokiStudy/practice-front
[submodule "backend"]
	path = backend
	url = https://github.com/DokiDokiStudy/practice_back
[submodule "algorithms"]
	path = algorithms
	url = https://github.com/DokiDokiStudy/Algorithms-study.git
